@model Quote

@{
    ViewData["Title"] = "Random Quotes";
}

<h2>Random Quotes</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <blockquote>
            <p>
                @Model.QuoteText
            </p>
            <footer>@Model.Author</footer>
        </blockquote>
    </div>
</div>

<div>
    
    <p>Testing, testing ... 1, 2, 3.</p>
    
    <p>Another change!!!</p>
    <p>Boom boom shake shake the zoom!!!</p>
    
</div>

<form method="post" asp-action="ReloadPage">
    <input type="submit" class="btn btn-danger btn-lg text-center" value="Refresh" />
</form>